body {
    margin: 0 auto;
    max-width: 700px;
    background-image: linear-gradient(0deg, #C4BDAC, rgba(0, 0, 0, .7)), url(images/BACKGROUND.jpg!s);
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 25px;
    font-family: monospace,sans-serif
   
}

h1 {
    border: 1px solid #244c6f;
    color: #EFEEEE;
    padding: 10px;
    font-size: 50px;
    font-family: monospace,sans-serif
}

h2 {
    color: #D3C4B3;
    padding: 10px;
    font-size: 40px;
    font-family: monospace,sans-serif
   
}